{% extends 'template.twig' %}

{% block conteudo %}

{% for usuario in usuarios %}

<h2 class="text-left" class="font-weight-bolder" >Bem-vindo, {{ usuario.nome }}!</h2>

<p>Esta aplicação foi desenvolvida com o objetivo de testar os conhecimentos técnicos do candidato Matheus Vieira Santos no processo seletivo para trabalhar na Feedz.</p>

{% endfor %}

{% endblock %}